In [6]:
import numpy as np 
import pandas as pd
import imp

import data_exploration as de

# import datasets from ICS ML databases

In [7]:
root_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/"

# binary classification problem - small dataset - Rocks versus Mines - features not labelled
sonar_url = "undocumented/connectionist-bench/sonar/sonar.all-data"
rvmines_df = pd.read_csv(root_url + sonar_url, sep=',', header=None)

# regression problem - How old is your abalone? - number of rings is a gauge for age
abalone_url = "abalone/abalone.data"
abalone_df = pd.read_csv(root_url + abalone_url, sep=',', header=None)
abalone_df.columns = ['sex', 'length', 'diameter', 'height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings']

# regression problem - wine taste
wine_url = "wine-quality/winequality-red.csv"
wines_df = pd.read_csv(root_url + wine_url, sep=';', header=0)

# multi-class classification problem - what type of glass?
glass_url = "glass/glass.data"
glass_df = pd.read_csv(root_url + glass_url, sep=',', header=None)
glass_df.columns = ['Id', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']

# understand the problem by understanding the data

In [8]:
df = glass_df.copy()
#df.columns = ["V"+str(col) for col in df.columns]
df.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [9]:
df.shape

(214, 11)

In [11]:
imp.reload(de);
de.visualize_ml_dataset(df, label='Type')

interactive(children=(Dropdown(description='x', options=('features type', '% missing values', 'missing values â€¦

# Normalizing data

[scale-standardize-or-normalize-with-scikit-learn](https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02)

In [ ]:
X_train = df.iloc[:,:-1].values
X_train.shape

In [ ]:
from sklearn import preprocessing

In [ ]:

ndf = df.iloc[:,:-1].copy()
X_train = ndf.values
mm_scaler = preprocessing.MinMaxScaler()
scaled_values = mm_scaler.fit_transform(X_train)
ndf.loc[:,:] = scaled_values
ndf
#X_train_minmax

#mm_scaler.transform(X_test)

# Pipeline

[integrating-pandas-and-scikit-learn-with-pipelines](https://medium.com/bigdatarepublic/integrating-pandas-and-scikit-learn-with-pipelines-f70eb6183696)

[careful about target leakage and train-test contamination](https://www.kaggle.com/alexisbcook/data-leakage/data)

[data-leakage-machine-learning](https://machinelearningmastery.com/data-leakage-machine-learning/)

# Penalized Linear Regression

# Ensemble Methods